* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.wrapper {
    height: 100vh;
    display: flex;
    background-color: cadetblue;
}

.memory-game {
    width: 550px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.memory-card {
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.memory-card.flip {
    transform: rotateY(180deg) 
}

/*.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}*/

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: darkcyan;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg)
}